html {
  background: black;
}

@font-face {
  font-family: "Nasalization";
  src: url("/public/nasalization-rg.otf") format("opentype");
  font-style: Regular;
}

.top {
  background: transparent;
  font-family: "Nasalization";
  font-size: 85%;
  color: white;
  text-align: center;
}
