/* nasalization font */

@font-face {
    font-family: 'Nasalization';
    src: url('/fonts/nasalization.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}

/* Jetbrains Mono */
@font-face {
    font-family: 'Jetbrains Mono';
    src: url('/fonts/jetbrains-mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}

html {
    background: #181a1b;
    background-size: 224px;
    color: white;
    margin: auto;
    padding: 1rem;
    width: 75%;
}

a {
    color: inherit;
    text-decoration: inherit;
}
