/* nasalization font */

@font-face {
    font-family: 'Nasalization';
    src: url('/fonts/nasalization.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}

/* Neuroparsee font */
@font-face {
    font-family: 'Neuroparsee';
    src: url('/fonts/neuroparsee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: normal;
}

html {
    background: #13151a;
    background-size: 224px;
    color: white;
    margin: auto;
    padding: 1rem;
    width: 1000px;
}
