---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
import NavBar from '../components/navBar.astro';
---

<Layout title="home">
    <div class="center">
	<h1><a href="/">sako</a></h1>
	<br/>
	<NavBar class="navbar" />
	<br/>
	<hr>

	<!-- stuff beings here -->

	<!-- <div class="text">
	     <h2>Hi</h2>
	     <p>Ill do this page later</p>
	     </div> -->

    </div>
</Layout>

<style>

 /* .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    } */

  .center h1 {
     font-family: monospace;
     margin: auto;
     text-align: center;
 }

 .center {
     margin: auto;
 }

 hr {
     width: 20%;
 }

 a:focus, a:active, a:visited, a:link {
     color: white;
     text-decoration: none !important;
 }
</style>
