---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
import NavBar from '../components/navBar.astro';
---

<Layout title="home">
    <div class="center">
	<h1><a href="/">sako</a></h1>
	<br/>
	<NavBar class="navbar" />
	<br/>
	<hr>
    </div>
</Layout>

<style>
  .center h1 {
     font-family: monospace;
     margin: auto;
     text-align: center;
 }

 .center {
     margin: auto;
 }

 hr {
     width: 20%;
 }

 a:focus, a:active, a:visited, a:link {
     color: white;
     text-decoration: none !important;
 }
</style>
