---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sako">
	<main>
	    <div class="top">
		<h1>placeholder</h1>
	    </div>
	</main>
</Layout>

<style>
 h1 {
   color: white;
   font-size: 1rem;
   text-align: left;
 }
</style>
