---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sako">
	<main>
	    <div class="main">
		<h1> Sako's Horrible Website </h1>
	    </div>
	</main>
</Layout>

<style>
	.main {
	    margin: auto;
	    padding: 1.5rem;
	}
</style>
