---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
import NavBar from '../components/navBar.astro';
---

<Layout title="home">
    <div class="center">
	<h1>sako</h1>
    </div>
</Layout>

<style>
 body, html{
     height: 100%;
     display: grid;
     overflow: hidden;
 }

 .center h1 {
     font-family: monospace;
     margin: auto;
 }

 .center {
     margin: auto;
 }
</style>
