---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sako">
    <h1>Sako</h1>
</Layout>

<style>
 h1 {
    text-align: center; 
 } 
</style>
