---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/navBar.astro';
import Title from '../components/title.astro';
---

<Layout title="Sako">
    <NavBar/>
    <div class="buttonBackground">
	<p class="titleHeaders">friends</p>
	<img class="buttons" src="/res/buttons/sako.png">
	<a href="https://moltencoredev.github.io/"><img class="buttons" src="/res/buttons/molten.png"></a>
	<a href="https://catvibers.me/"><img class="buttons" src="/res/buttons/dank.png"></a>
    </div>
</Layout>

<style>
 .titleHeaders {
     text-align: center; 
     font-family: 'Nasalization';
 } 

 .topHeader {
    text-align: center; 
    margin: auto;
    font-family: 'Jetbrains Mono';
    margin-top: -2%;
    font-size: 17px;
 }

 .projectCardGrid {
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
     gap: 1rem;
     padding: 0;
     font-family: 'Jetbrains Mono';
 }

 /* .buttons {
     align-items: center;
     display: flexbox;
     text-align: center;
     text-decoration: none;
     align-content: center;
     color: white;
 } */

.buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    gap: 10px;
    justify-content: center;
    margin-top: 15x;
    margin-left: 30vw;
}

.buttons a {
    display: inline-block;
    text-decoration: none; /* Optional: Removes the underline from links */
}

.buttons img {
    display: block;
    width: 88px; /* Width of the badge */
    height: 31px; /* Height of the badge */
    border: 0; /* Optional: Removes border around images in some browsers */
}

 .littleTodo {
     text-align: center;
     font-size: 9px;
 }

 .about {
     text-align: left;

 }
 .about > .me {
     font-size: 18px;
     clear: right;
     float: left;
     margin-top: 5vw;
     margin-left: 3vw;
     font-family: 'Jetbrains Mono';
 }

 .about > .userimg {
     width: 300px;
     margin: auto;
     margin-left: 1vw;
 }

 .about > object { 
    display: flex;
    align-items: center; /*vertical alignement*/
    justify-content: center; /* horizontal alignement*/
 }

 /* .navBar {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 30px;
     font-size: 25px;
     color: #be1432;
     font-family: 'Jetbrains Mono';
     height: 50px;
     width: 250px;
     margin: auto;
     background-color: #232630;
 }

 .navBar > .navItem {
     text-align: center;
 }
 */
 a {
  color: inherit;
  text-decoration: inherit;
}
</style>
