---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sako">
    <a href="/">
	<h1 class="titleHeaders">Sako</h1>
    </a>

    <p class="topHeader">I make stuff. Sometimes? <br/> Doesn't work out most of the time.</p>

    <br/>

    <div class="navBar">
	
	<a href="/blog"><p class="navItem">Blog</p></a>
	<a href="/art"> <p class="navItem">Art</p></a>
    </div>

    <div class="about">
	<h2 class="titleHeaders">About:</h2>
	<p class="me">
	    I'm Sako!!! <br/>
	    Yeah I think that actually might be it. <br/>
	    I got into all of this by messing around with things. <br/>
	    Keep getting told not to mess around with stuff<br/>
	    Didn't care cause it worked out in the end. <br/>
	    I'm going to make something big someday<br/>
	</p>
	<img class="userimg" src="/res/user.png"/>
    </div>

    <h2 class="titleHeaders">Projects:</h2>

    <ul role="list" class="projectCardGrid">
	<Card
	    href="https://github.com/sako-o/SakoEngine"
	    title="SakoEngine"
	    body="Game Engine that (hopefully) is easy like Unity and powerful like Unreal"
	/>
	<Card
	    href="https://github.com/Sakooooo/sakofin"
	    title="SakoFin"
	    body="Jellyfin Client that tries to use Native UIs instead of WebUIs"
	/>
	<Card
	    href="https://github.com/Sakooooo/nixos"
	    title="NixOS Configuration"
	    body="System Configurations for my NixOS systems"
	/>
    </ul>
    <p class="littleTodo">TODO:: Make these all websites instead</p>
    <!-- buttons -->
    <div class="buttonBackground">
    <img class="buttons" src="/res/made_with_emacs.svg">
    </div>
    <!-- end buttons -->
</Layout>

<style>
 .titleHeaders {
     text-align: center; 
     font-family: 'Nasalization';
 } 

 .topHeader {
    text-align: center; 
    margin: auto;
    font-family: 'Jetbrains Mono';
    margin-top: -2%;
    font-size: 17px;
 }

 .projectCardGrid {
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
     gap: 1rem;
     padding: 0;
     font-family: 'Jetbrains Mono';
 }

 .buttons {
     width: 88px;
     margin: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .littleTodo {
     text-align: center;
     font-size: 9px;
 }

 .about {
     text-align: left;

 }
 .about > .me {
     font-size: 18px;
     clear: right;
     float: left;
     font-family: 'Jetbrains Mono';
 }

 .about > .userimg {
     width: 240px;
     margin-left: 10%;
 }

 .navBar {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 30px;
     font-size: 25px;
     color: #be1432;
     font-family: 'Jetbrains Mono';
     height: 50px;
     width: 25%;
     margin: auto;
     background-color: #232630;
 }

 .navBar > .navItem {
     text-align: center;
 }

 a {
  color: inherit;
  text-decoration: inherit;
}
</style>
