---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sako">
	<main>
	    <div class="center">
		<h1>sako</h1>
	    </div>
	</main>
</Layout>

<style>
 html {
     overflow: hidden;
 }
 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
 }
	h1 {
	    color: white;
	    font-size: 5rem;
	    text-align: center;
	}
</style>
