---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sako >:3">
    <h1>It's <span class="gradient">Sako</span></h1>
    <p class="hello" >
	I'm still unsure what I'm actually doing
    </p>

    <h2>I can make stuff</h2>
    <ul role="list" class="card-projects">
	<Card
	    href="https://google.com"
	    title="SakoEngine"
	    body="Game Engine. Yeah, thats it."
	    />

    </ul>
</Layout>

<style>

</style>
