---
import Layout from '../layouts/Layout.astro';
import '../styles/animations.css';
import NavBar from '../components/navBar.astro';
---

<Layout title="home">
    <div class="center">
	<h1>sako</h1>
    </div>
</Layout>

<style>
 .center {
     position: absolute;
     top: 48%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
</style>
