---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sako">
	<main>
	    <div class="center">
		<h1>sako</h1>
	    </div>
	    <canvas class="background-canvas"></canvas>
	</main>
</Layout>

<style>
 html {
     overflow: hidden;
 }
 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
 }
	h1 {
	    color: white;
	    font-size: 5rem;
	    text-align: center;
	}

 .background-canvas {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
 }
</style>

<script>
const canvas = document.querySelector<HTMLCanvasElement>(".background-canvas")!;
const context = canvas.getContext("2d")!;

let lastTimestamp = 0;

var x = 0, y = 0;
function rafCallback(timestamp: DOMHighResTimeStamp) {
  if (!lastTimestamp) {
    lastTimestamp = timestamp;
    requestAnimationFrame(rafCallback)
  }

  const delta = timestamp - lastTimestamp;
  lastTimestamp = timestamp;

  // clear canvas
  context.clearRect(0, 0, canvas.width, canvas.height);

  // TODO use the 2D `context` to draw your dots
     context.fillRect(x, y, 20, 10);
     x += 0.015;


  requestAnimationFrame(rafCallback);
}

requestAnimationFrame(rafCallback);

</script>
