---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/navBar.astro';
import Title from '../components/title.astro';
---

<Layout title="Sako">
    <NavBar/>
    <p class="littleTodo">TODO:: Button Module</p>
    <!-- buttons -->
    <div class="buttonBackground">
    <img class="buttons" src="/res/made_with_emacs.svg">
    </div>
    <!-- end buttons -->
</Layout>

<style>
 .titleHeaders {
     text-align: center; 
     font-family: 'Nasalization';
 } 

 .topHeader {
    text-align: center; 
    margin: auto;
    font-family: 'Jetbrains Mono';
    margin-top: -2%;
    font-size: 17px;
 }

 .projectCardGrid {
     display: grid; 
     grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
     gap: 1rem;
     padding: 0;
     font-family: 'Jetbrains Mono';
 }

 .buttons {
     width: 88px;
     margin: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .littleTodo {
     text-align: center;
     font-size: 9px;
 }

 .about {
     text-align: left;

 }
 .about > .me {
     font-size: 18px;
     clear: right;
     float: left;
     margin-top: 5vw;
     margin-left: 3vw;
     font-family: 'Jetbrains Mono';
 }

 .about > .userimg {
     width: 300px;
     margin: auto;
     margin-left: 1vw;
 }

 .about > object { 
    display: flex;
    align-items: center; /*vertical alignement*/
    justify-content: center; /* horizontal alignement*/
 }

 /* .navBar {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 30px;
     font-size: 25px;
     color: #be1432;
     font-family: 'Jetbrains Mono';
     height: 50px;
     width: 250px;
     margin: auto;
     background-color: #232630;
 }

 .navBar > .navItem {
     text-align: center;
 }
 */
 a {
  color: inherit;
  text-decoration: inherit;
}
</style>
