---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Sako">
    <h1>Sako</h1>
</Layout>

<style>
 @font-face {
     font-family: 'Nasalization';
     src: url('/fonts/nasalization.otf') format('opentype');
     font-weight: normal;
     font-style: normal;
     font-display: normal;
 }

 h1 {
    text-align: center; 
     font-family: 'Nasalization';
 } 
</style>
