---
---

<html lang="en">
    <div class="navBar">
	<a href="/home"><p>home</p></a>
	<a href="/blog"><p>blog</p></a>
	<!-- <a href="/art"><p>art</p></a> -->
	<a href="/contact"><p>contact</p></a>
    </div>
</html>

<style>
 .navBar {
     height: 0;
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     color: white;
     gap: 5px;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
  }

 a:focus {
     color: white;
     text-decoration: none !important;
 }
 a:active {
     color: white;
     text-decoration: none !important;
 }
 a:visited {
     color: white;
     text-decoration: none !important;
 }
 a:link {
     color: white;
     text-decoration: none !important;
 }
</style>
