---
---
<html lang="en">
    <div class="navBar">
	
	<a href="/blog"><p class="navItem">Blog</p></a>
	<a href="/art"> <p class="navItem">Art</p></a>
    </div>
</html>

<style is:global>
 .navBar {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     gap: 30px;
     font-size: 25px;
     color: rgb(236, 76, 104);
     font-family: 'Jetbrains Mono';
     height: 50px;
     width: 250px;
     margin: auto;
     background-color: #232630;
 }

 .navBar > .navItem {
     text-align: center;
 }
</style>
