---
---
<html lang="en">
    <div class="navBar">
	<!-- TODO Replace with image -->
	<a href="/"><p class="navItem">home</p></a>
	<a href="/blog"><p class="navItem">blog</p></a>
	<a href="/art"> <p class="navItem">art</p></a>
    </div>
</html>

<style is:global>
 .navBar {
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-left: 2vw;
     gap: 7px;
     font-size: 18px;
     color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
     margin: 0 auto;
     margin-top: -0.5vw;
     background-color: #232630;
    height: 2em;
    width: 50em;
     max-width: 50em;
 }

.navBar a:hover {
  color: #cc1d13;
  text-decoration: none;
}

.navBar a:active {
  color: #ee4d44;
  text-decoration: none;
}

 .navBar > .navItem {
     text-align: center;
 }
</style>
