---
---

<html lang="en">
    <div class="navBar">
	<a href="/"><p>home</p></a>
	<a href="/blog"><p>blog</p></a>
	<!-- <a href="/art"><p>art</p></a> -->
	<a href="/contact"><p>contact</p></a>
    </div>
</html>

<style>
 .navBar {
     display: flex;
     flex-direction: row;
     color: white;
     gap: 5px;
 }

</style>
