---
interface Props {
    subTitle: string;
}

const { subTitle } = Astro.props;
---

<html>
    <a href="/">
	<h1 class="titleHeaders">Sako</h1>
    </a>

    <br/>

   <p class="topHeader" set:html={subTitle}>{subTitle}</p>

</html>
<style>
 .topHeader {
     text-align: center; 
     margin: auto;
     font-family: 'Jetbrains Mono';
     margin-top: -2%;
     font-size: 17px;
 }



  .titleHeaders {
     text-align: center; 
     font-family: 'Nasalization';
 } 
</style>
