---

const pages = [ "/", "/blog", "/contact"];
const currentPage = Astro.url.pathname;
import logo from '../../public/logo.png';
---

<div class="top">
    <img src="logo.png" width="64px" height="64px" />
    <h1>sako</h1>
</div>
<div class="topBar">
<!-- <a href="/home"><b>/home</b></a> -->
    <!--    <a href="/blog">/blog</a> -->
    {pages.map((page) =>(
    <a class={page === currentPage && pages.includes(currentPage) ? "active" : ""} href={page}>{page === "/" ? "/home" :page}</a>
    ))}
</div>

<style>
 .top {
     padding: 0.1vw;
     margin: 1vw;
     display: flex;
     gap: 1vw;
 }
 .topBar {
     background-color: #e41539;
     padding: 1vw;
     display: flex;
     gap: 1vw;
 }
 .topBar a.active {
     font-weight: bold;
 }
 h1, h2, a {
   color: white;
   font-size: 1rem;
   text-align: left;
 }

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
</style>
